#header_princ {
    width: 1200px;
    height: 250px;
}

.header_cote {
    display: inline-block;
    height: 250px;
    width: 375px;
}

.color_back{
    background-color: teal;
}

#image_droite {
    width: 150px;
    height: 150px;
    display: inline;
    margin-top: 75px;
}

#image_gauche {
    width: 150px;
    height: 150px;
    display: inline;
    margin-top: 75px;

}

h1 {
    color: brown;
    text-align: center;
}

#section_premiere{
    width: 1200px;
    height: 500px;
}

.duo_section{
    display: inline-block;
    width: 562px;
    height: 500px;
    vertical-align: top;
}

#bgsection_un{
    background-color: red;
}

#image_csgo{
    display: inline-block;
    width: 300px;
    height: 250px;
}

#bgsection_deux{
    background-color: chocolate;
    text-align: center;
}

#paragraphe_un{
    text-align: center;
}

#image_Back{
    width: 1200px;
}

#imageDeFond{
    width: 1125px;
    height: 500px;
}

#finDePage{
    width: 1200px;
    vertical-align: top;
}

#fooder_div{
    background-color: darkred;
    width: 1125px;
    height: 250px;

 }

#texteDeFin{
    width: 400px;
    height: 100px;
    margin-top: 0px;
}